{% extends 'base.html' %}

{% block body_block %}

        <div class="col-xs-6 center-block">
            <a href="/tenant/register/" id="register-tenant-button" name="register-tenant-button" class="btn btn-block btn-primary btn-lg">
                Register as Tenant
            </a>
            <a href="/landlord/register/" id="register-landlord-button" name="register-landlord-button" class="btn btn-block btn-primary btn-lg">
                Register as Landlord
            </a>
        </div>

{% endblock %}